/* 01 - Textos  */
body{
	color:#777;
}
h4{
	font-weight: bold;
}

h1{
	color:black;
	font-size: 5em;
	font-weight: bold;
	text-shadow: 5px 5px 15px #aaa;
}


.centrado{
	text-align: center;
}

/* Seccion intro */
.intro{
	padding: 10vh 0 10vh 0;
	background-color: #DE691A;
}

.intro h1, .intro p{
	color: #fff;
}

/* Seccion de caracteristicas */
.caracteristicas{
	padding: 25px;
}

.caracteristica {
	padding: 25px;
}

/* Seccion Testimonios */
.carousel-inner .item{
	height: 350px;
	background-color: #222;
}

/* Seccion comprar */
.comprar {
    background: url(../images/parallax/blur-1867745_1280.jpg ) no-repeat;
    background-attachment: fixed;
    padding: 100px 0;
		border-bottom-style: solid;
		border-bottom-width: 2px;
}


/* Seccion estadisticas */
.estadisticas {
    background: url(../images/parallax/macbook-606763_1920.jpg ) no-repeat;
    background-attachment: fixed;
    padding: 100px 0;
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-top-style: solid;
		border-top-width: 2px;
}

.estadisticas h4{
	font-size: 2em;
	color: #fff;
	text-shadow: 2px 2px 10px #000;

}
.texto-estadisticas{
	font-size: 2em;
	color: #fff;
	text-shadow: 2px 2px 10px #000;
}

.estadistica{
		padding: 25px;
}

/* Seccion de preguntas */
.preguntas{
		background-color: #222;
		color:#bbb;
		padding: 5vw;
	}

.pregunta{
	font-weight: bold;
	padding: 10px;
	font-size: 120%;
}
